body{
    background-color: green;
}
.Carta{
    margin: auto;
    width: 300px;
    height:400px;
    background-color: white;
}
.numeroCarta{
    
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
.cartaTipo{
    font-size: 90px;
    justify-content: start;
    padding: auto;
    
}
.cartaTipoAbajo{
    display: flex;
    margin-top: 20px;
    justify-content: start;
    font-size: 90px;
    rotate: 180deg;
    
}